.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;
}

.about-container > *:last-child {
    border-bottom: none;
}

.activities-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 5px solid rgb(var(--SWAN-vlight));;
}

.activities-section:last-child {
    border-bottom: none;
}

.activities-section > *:first-child {
    border-right: 5px solid rgb(var(--SWAN-vlight));
}

.activities-text-container {
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.activities-text-container p {
    margin: 0px;
    /* height: 100%; */
}

.activities-img-container {
    display: flex;
    flex: 1;
    align-items: center;
    width: 100%;
    height: 100%;
}

.activities-img-container img {
    max-width: 100%;
    height: auto;
}