.about-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 75%;
}

.about-container > *:last-child {
    border-bottom: none;
}