.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Header {
  display: flex;
  flex: 1;
}

.Content {
  display: flex;
  flex: 2;
}

.Footer {
  display: flex;
  flex: 1;
}

.Header, .Content, .Footer {
  align-items: center;
}